.content {
  max-width: 900px;
  margin: auto;
  padding: 40px 20px;
}

.card {
  background: #ffffff;
  padding: 25px;
  margin-bottom: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.08);
}

.project-hero {
  text-align: center;
  padding: 40px 20px;
}

.subtitle {
  color: #1e2a38;
  margin-top: -10px;
}

.hero-image, .project-image {
  width: 100%;
  border-radius: 12px;
  margin-top: 15px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  box-sizing: border-box;

  padding: 15px 50px;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: #1F2041;
}

.nav-left,
.nav-right {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  font-family: 'Space Grotesk', sans-serif;
}

.logo {
  font-size: 22px;
  font-weight: 700;
  font-family: 'Space Grotesk', sans-serif;
  color: white;
  white-space: nowrap;
}

img {
  display: block;
  max-width: 75%;
  margin: 20px auto;
  height: auto;
  border-radius: 8px;
}

.image-caption {
  font-size: 0.85rem;
  color: #1e2a38;
  margin-top: 8px;
  line-height: 1.4;
  font-style: italic;
  max-width: 800px;
}
.projects-hero {
  text-align: center;
  padding: 60px 20px;
}

.projects-hero h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

.projects-hero p {
  max-width: 600px;
  margin: 0 auto;
  color: #1e2a38;
}


.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 20px;
  padding: 40px;
}


.project-card {
  text-decoration: none;
  color: black;
  background: white;
  border: 1px solid #eee;
  border-radius: 12px;
  padding: 20px;
  transition: 0.2s ease;
}

.project-card:hover {
  transform: translateY(-5px);
  border-color: #ccc;
}

.project-content h2 {
  margin-bottom: 10px;
}

.project-content p {
  font-size: 14px;
  color: #1e2a38;
}


.tag {
  display: inline-block;
  margin-top: 10px;
  font-size: 12px;
  padding: 5px 10px;
  background: #f2f2f2;
  border-radius: 20px;
}

.footer {
  text-align: center;
  padding: 30px 20px;
  margin-top: 60px;
  font-size: 14px;
  color: #777;
  border-top: 1px solid #eee;
}